body{
    background-color: #1A365D;
}
#treeMap {
    background-color: #1A365D;
}
#first_set{
    display: inline-block;
    position: absolute;
    top: 100px;
}
#lineChart {
    color: white;
    fill: white;

}
#lineChart line{
    color: darkgray;
}

#lineChart .SP500{
    stroke:  #FFFFFF;
}

#lineChart .Industrials{
    stroke: #ED8936;
}

#lineChart .Consumer_Discretionary{
    stroke:#805AD5
}
#lineChart .Health_Care{
    stroke:#2F855A
}
#lineChart .Information_Technology{
    stroke:#3182CE
}
#lineChart .Communication_Services{
    stroke:#702459
}

#lineChart .Utilities{
   stroke:  #FC8181
}
#lineChart .Materials{
    stroke: #C4C4C4
}
#lineChart .Financials{
    stroke:  #C53030
}#lineChart .Real_Estate{
     stroke: #81E6D9
 }
 #lineChart .Consumer_Staples{
     stroke: #B7791F

 }
#lineChart .Energy{
    stroke: #E0CE61

}

#title{
    color: white;
    font-size: 2em;
    font-weight: bold;
}
#Industrials{
    color: orange;
}
#tooltip {
    position: absolute;
    display: none;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 500;
    padding: 8px;
    min-width: 160px;
    color: #333;
}
.treeBlock:hover{
    stroke-width:3;
    stroke: white;
}
circle:hover{
    stroke-width:1;
    stroke: white;
}
.tick{
    color: white;
    fill: white;
}
.tick line{
    color: darkgrey;
    fill: darkgrey;
}