body{
    background-color: #1A365D;
}
#treeMap {
    background-color: #1A365D;
}
#first_set{
    display: inline-block;
    position: absolute;
    top: 100px;
}
#lineChart {
    color: white;
    fill: white;

}
#lineChart line{
    color: darkgray;
}
#title{
    color: white;
    font-size: 2em;
    font-weight: bold;
}
#Industrials{
    color: orange;
}
#tooltip {
    position: absolute;
    display: none;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 500;
    padding: 8px;
    min-width: 160px;
    color: #333;
}