body{
    background-color: #1A365D;
}
#treeMap {
    background-color: #1A365D;
}
#first_set {
    display: flex;
    margin-top: 50px;
}
#bottom_set {
    position: relative;
}
#lineChart {
    color: white;
    fill: white;

}
#lineChart line{
    color: #4A5568;
}

#lineChart .SP500{
    stroke:  #FFFFFF;
}

#lineChart .Industrials{
    stroke: #ED8936;
}

#lineChart .Consumer_Discretionary{
    stroke:#805AD5
}
#lineChart .Health_Care{
    stroke:#2F855A
}
#lineChart .Information_Technology{
    stroke:#3182CE
}
#lineChart .Communication_Services{
    stroke:#702459
}

#lineChart .Utilities{
   stroke:  #FC8181
}
#lineChart .Materials{
    stroke: #C4C4C4
}
#lineChart .Financials{
    stroke:  #C53030
}#lineChart .Real_Estate{
     stroke: #81E6D9
 }
 #lineChart .Consumer_Staples{
     stroke: #B7791F

 }
#lineChart .Energy{
    stroke: #E0CE61

}

#title{
    color: white;
    font-size: 2em;
    font-weight: bold;
}
#Industrials{
    color: orange;
}
#tooltip {
    position: absolute;
    display: none;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 500;
    padding: 8px;
    min-width: 160px;
    color: #333;
}
.treeBlock:hover{
    stroke-width:3;
    stroke: white;
}
.treeBlock.selected{
    stroke-width:3;
    stroke: white;
}
circle{
    stroke-width:1;
    stroke: #000000;
    vector-effect: non-scaling-stroke;
}
circle:hover{
    stroke: white;
}
circle.selected {
    stroke: white;
    opacity:1;

}
.tick{
    color: white;
    fill: white;
}
.tick line{
    color: #4A5568;
    fill:  #4A5568;
    pointer-events: none;

}
#search_bar{
    position: absolute;
    display:inline-flex;
    right: 30px;
}
input[type='text'] {
    background-color: lightgrey;
    padding: 10px;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}

input[type='submit'] {
    background-color: DodgerBlue;
    color: #dddddd;
    padding: 10px;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    margin-left: 2%;
    cursor: pointer;
}

#bubbleChart-reset-button{
    background-color: DodgerBlue;
    color: #dddddd;
    padding: 10px;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    margin-left: 2%;
    cursor: pointer;

}

.ui-menu {
    position: relative;
    padding: 0;
    display: inline-block;
    cursor: pointer;
    background-color: #dddddd;
    list-style-type: none;
    border-radius: 5px;
    color: #3182CE;
}

.ui-helper-hidden-accessible {
    display: none;
}


.s-shape{
    clip-path: polygon(33% 14%,
    61% 20%, 70% 4%,
    35% 0, 20% 8%,
    13% 21%, 18% 41%,
    48% 54%, 40% 70%,
    15% 66%, 15% 81%,
    58% 80%, 67% 63%,
    61% 41%, 31% 31%);

}
.ui-menu-item-wrapper:hover{
    color: darkblue;
    stroke: darkblue;
}