body{
    background-color: #1A365D;
}
#treeMap {
    background-color: #1A365D;
}
#first_set {
    display: flex;
    margin-top: 20px;
}
#bottom_set {
    position: relative;
}
#lineChart {
    color: white;
    fill: white;

}
#lineChart line{
    color: #4A5568;
}


.Basket1{
    stroke-dasharray: 1px;
}

.Basket2{
    stroke-dasharray: 1px;
}

#title{
    color: white;
    font-size: 2em;
    font-weight: bold;
}

.axis-name{
    color: white;
    fill: white;
    font-weight: 700;
    font-size: 12px;
}
#tooltip {
    position: absolute;
    display: none;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 500;
    padding: 8px;
    min-width: 160px;
    color: #333;
}

#lineChart_tooltip {
    position: absolute;
    display: none;
    background: #ffffff;
    border: 1px solid #ddd;
    font-size: 12px;
    padding: 8px;
    min-width: 50px;
    color: #333;
    border-radius: 5px;
    opacity: 0.9;
}
.treeBlock:hover{
    cursor: pointer;
    stroke-width:1;
    stroke: white;
}
.treeBlock.selected{
    stroke-width:3;
    stroke: white;
}
circle{
    stroke-width:1;
    stroke: #000000;
    vector-effect: non-scaling-stroke;
}
circle:hover{
    stroke: white;
}
circle.selected {
    stroke: white;
    stroke-width: 2;
    opacity:1;

}
.tick{
    color: white;
    fill: white;
}
.tick line{
    color: #4A5568;
    fill:  #4A5568;
    pointer-events: none;

}

.custom{
    cursor: pointer;

}
#search_bar{
    position: absolute;
    display:inline-flex;
    right: 30px;
}
input[type='text'] {
    background-color: lightgrey;
    padding: 10px;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}


input[type='submit'] {
    background-color: DodgerBlue;
    color: #dddddd;
    padding: 10px;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    margin-left: 2%;
    cursor: pointer;
}

#bubbleChart-reset-button{
    background-color: DodgerBlue;
    color: #dddddd;
    padding: 10px;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    margin-left: 2%;
    cursor: pointer;

}

.ui-menu {
    position: relative;
    padding: 0;
    display: inline-block;
    cursor: pointer;
    background-color: #dddddd;
    list-style-type: none;
    border-radius: 5px;
    color: #3182CE;
}

.ui-helper-hidden-accessible {
    display: none;
}


.s-shape{
    clip-path: polygon(33% 14%,
    61% 20%, 70% 4%,
    35% 0, 20% 8%,
    13% 21%, 18% 41%,
    48% 54%, 40% 70%,
    15% 66%, 15% 81%,
    58% 80%, 67% 63%,
    61% 41%, 31% 31%);

}
.ui-menu-item-wrapper:hover{
    color: darkblue;
    stroke: darkblue;
}
.ui-autocomplete{
    max-height: 450px;
    overflow: scroll;
    padding: 5px;

}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    opacity: 0.5;
    border-radius: 5px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    font-weight: bold;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 13px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

.tab button.unclickable {
    color: #ccc;
    pointer-events: none

}
.spinner{
    vertical-align: middle;
    position: absolute;
}
